#!/bin/bash
echo "installed_plugins:"
java -jar {{ jexp_cli_jar_location }} \
    -s http://{{ jexp_cli_hostname }}:{{ jexp_http_port }}{{ jexp_application_context }}/ \
    list-plugins | sort | sed 's/(.*)$//g' | awk '{print " - { name: \""$1"\", ", "version: \""$NF"\" }"}'
